<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537284397763-6vqsssn1i7sobo0h1d4penb7t29ak11l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537284397763-6vqsssn1i7sobo0h1d4penb7t29ak11l</string>
	<key>API_KEY</key>
	<string>AIzaSyAoVHjFEZun3G14hjxLP_g3Kf8zg2ymIUw</string>
	<key>GCM_SENDER_ID</key>
	<string>537284397763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapplication</string>
	<key>PROJECT_ID</key>
	<string>androidtest-243c9</string>
	<key>STORAGE_BUCKET</key>
	<string>androidtest-243c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537284397763:ios:19b6383828197e1c6b7076</string>
	<key>DATABASE_URL</key>
	<string>https://androidtest-243c9.firebaseio.com</string>
</dict>
</plist>