<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968433633604-8cs9ecbsb72jvc3ci4j752r3odn06j91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968433633604-8cs9ecbsb72jvc3ci4j752r3odn06j91</string>
	<key>API_KEY</key>
	<string>AIzaSyAvlwFAyiDF7SMQaPKUUTjn6B9vqn3-kF4</string>
	<key>GCM_SENDER_ID</key>
	<string>968433633604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rudderstack.integration.test.firebase.ios</string>
	<key>PROJECT_ID</key>
	<string>android-products-check</string>
	<key>STORAGE_BUCKET</key>
	<string>android-products-check.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968433633604:ios:856807ba3c612b82792f11</string>
</dict>
</plist>