name: Check iOS Build

on:
  pull_request:
    branches: ['develop', 'master']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: Check iOS Build
    runs-on: macos-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 #v1.233.0
        with:
          ruby-version: '3.3.2'

      - name: Setup CocoaPods
        uses: maxim-lobanov/setup-cocoapods@8e97e1e98e6ccf42564fdf5622c8feec74199377 #v1
        with:
          version: 1.16.2

      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd #v1
        with:
          xcode-version: latest-stable

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install node_modules
        env:
          HUSKY: 0
        run: |
          npm run setup:ci

      - name: Restore Pods cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            apps/example/ios/Pods
            ~/Library/Caches/CocoaPods
            ~/.cocoapods
          key: ${{ runner.os }}-pods-${{ hashFiles('apps/example/ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Install Pods
        run: |
          cd apps/example/ios && \
          pod install --repo-update && \
          cd .. && \
          cd .. && \
          cd ..

      - name: Bundle apps
        run: |
          npm run bundle:ci

      - name: Add GoogleService-Info.plist
        run: |
          pwd
          echo '${{secrets.GOOGLESERVICE_INFO_PLIST_FILE}}' > apps/example/ios/GoogleService-Info.plist
          echo "$( < apps/example/ios/GoogleService-Info.plist)"
          cd apps/example/ios
          ls -li

      - name: Xcode Version
        run: |
          xcode-select -p
          /usr/bin/xcodebuild -version

      - name: Execute iOS build check
        run: |
          npm run build:ios:ci
