name: Check Android Build

on:
  pull_request:
    branches: ['develop', 'master']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: Check Android Build
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install node_modules
        env:
          HUSKY: 0
        run: |
          npm run setup:ci

      - name: Add .env file
        run: |
          pwd
          echo '${{secrets.DOT_ENV}}' > apps/example/.env
          echo "$( < apps/example/.env)"
          cd apps/example/
          ls -li

      - name: Bundle apps
        run: |
          npm run bundle:ci

      - name: Execute android build check
        run: |
          npm run build:android
