name: Deploy to NPM

on:
  workflow_dispatch:
  workflow_run:
    workflows: ['Publish new github release']
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  deploy-npm:
    name: Deploy to NPM
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/heads/master') || github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout source branch
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Checkout to master
        if: github.event.workflow_run.conclusion == 'success'
        run: git checkout master

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install node_modules
        env:
          HUSKY: 0
        run: |
          rm -rf node_modules
          npm run setup:ci

      - name: Get the two latest versions
        run: |
          CURRENT_VERSION=$(git tag -l "v*" --sort=-version:refname | head -n 1)
          LAST_VERSION=$(git tag -l "v*" --sort=-version:refname | head -n 2 | awk 'NR == 2 { print $1 }')

          echo "Current version: $CURRENT_VERSION"
          echo "Previous version: $LAST_VERSION"

          echo "current_version=$(echo $CURRENT_VERSION)" >> $GITHUB_ENV
          echo "last_version=$(echo $LAST_VERSION)" >> $GITHUB_ENV
          echo "DATE=$(date)" >> $GITHUB_ENV

      - name: Build & Publish affected packages
        run: |
          npm run deploy:npm -- --base=$last_version --head=$current_version

      - name: Send message to Slack channel
        id: slack
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d  #v2.0.0
        env:
          PROJECT_NAME: 'React Native SDK npm packages'
          NPM_PACKAGE_URL: 'https://www.npmjs.com/search?q=%40rudderstack'
        with:
          method: chat.postMessage
          payload-templated: true
          retries: rapid
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            {
              "channel": "${{ secrets.SLACK_RELEASE_CHANNEL_ID }}",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "New release: ${{ env.PROJECT_NAME }}"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Release: <${{ env.NPM_PACKAGE_URL }}|Latest Packages>*\n${{ env.DATE }}"
                  }
                }
              ]
            }
