name: Update Minimum Android and iOS SDK

on:
  workflow_dispatch:
    inputs:
      android_minimum_version:
        description: 'Android SDK Minimum Version'
        required: false
      ios_minimum_version:
        description: 'iOS SDK Minimum Version'
        required: false

jobs:
  update-versions:
    name: Update Minimum Android and iOS SDK
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout source branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Get Current Date
        run: echo "CURRENT_DATE=$(date +'%d%m%y')" >> $GITHUB_ENV

      - name: Create branch
        uses: peterjgrainger/action-create-branch@10c7d268152480ae859347db45dc69086cef1d9c # v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: 'fix/updateMinimumSdkVersions-${{ env.CURRENT_DATE }}'

      - name: Change Git Branch
        run: |
          git fetch
          git checkout fix/updateMinimumSdkVersions-${{ env.CURRENT_DATE }}

      # In order to make a commit, we need to initialize a user.
      # You may choose to write something less generic here if you want, it doesn't matter functionality wise.
      - name: Initialize mandatory git config
        run: |
          git config user.name "GitHub actions"
          git config user.email noreply@github.com

      - name: Update Android SDK Version
        if: github.event.inputs.android_minimum_version != ''
        run: |
          minimum_version='${{ github.event.inputs.android_minimum_version }}'
          sed -i "s/com.rudderstack.android.sdk:core:\[[0-9.]*,[0-9]*/com.rudderstack.android.sdk:core:\[$minimum_version,/" libs/sdk/android/build.gradle
          git add .
          git commit -m "fix(rudder-sdk-react-native): update minimum Android SDK versions"

      - name: Update iOS SDK Version
        if: github.event.inputs.ios_minimum_version != ''
        run: |
          minimum_version='${{ github.event.inputs.ios_minimum_version }}'
          sed -i "s/\"Rudder\", '[>= ]*[0-9.]*[0-9]*/\"Rudder\", '>= $minimum_version/" libs/sdk/RNRudderSdk.podspec
          git add .
          git commit -m "fix(rudder-sdk-react-native): update minimum iOS SDK versions"

      - name: Push Changes
        run: git push

      - name: Create pull request into develop
        uses: repo-sync/pull-request@7e79a9f5dc3ad0ce53138f01df2fad14a04831c5 # v2.12.1
        with:
          source_branch: fix/updateMinimumSdkVersions-${{ env.CURRENT_DATE }}
          destination_branch: 'develop'
          github_token: ${{ secrets.PAT }}
          pr_title: 'fix: update minimum SDKs version'
          pr_body: ':crown: *An automated PR*'
          pr_reviewer: '@rudderlabs/sdk-rn'
